<module>
	<rawname>cdr</rawname>
	<repo>standard</repo>
	<description>Call Data Record report tools for viewing reports of your calls</description>
	<name>CDR Reports</name>
	<version>2.10.0.beta4</version>
	<publisher>Mikael Carlsson</publisher>
	<license>GPLv2+</license>
	<category>Reports</category>
	<menuitems>
		<cdr>CDR Reports</cdr>
	</menuitems>
	<changelog>
		*2.10.0.beta4*  Bug fixes, re-categorizations
		*2.10.0.beta3*  Speed up download of csv
		*2.10.0.beta2*  Bug fixes
		*2.10.0.beta1*  Play recorded files
		*2.10.0.alpha6* Bug fix in recordings settings
		*2.10.0.alpha5* Added localization
		*2.10.0.alpha4* Added csv export
		*2.10.0.alpha3* First public release
		*2.10.0.alpha2* Not released to public
		*2.10.0.alpha1* Not released to public
		*2.10.0.alpha0* Not released to public
	</changelog>
	<depends>
		<module>core ge 2.6.0</module>
	</depends>
	<location>release/2.10/cdr-2.10.0.beta4.tgz</location>
	<md5sum>b4dc18e5198b09fc0513f2770ea9d12c</md5sum>
<supported><version>2.10</version></supported></module>
